body{
    background-color: #f7f7f7;
    font-family: 'PostScriptum' sans-serif;
}

.navbar-collapse {
    li {
        a {
            &:hover {
                background-color: transparent;
            }
        }
    }
}

button.navbar-toggle {
    margin-top: 10%;
    
    span {
        background-color: gray;
    }
    span.icon-bar {
        width: 50px;
        height: 5px;
    }
}

header{
    div#menu1{
        padding-top: 3%;
        div#logo{
            img {
                width: 100%;
            }
        }
        div#menu {
            ul {
                padding: 0;
                list-style-type: none;
                margin-right: 6%;
                padding-top: 5%;
                li {
                    background-size: 100% 200%;
                    background-image: linear-gradient(to bottom, #f7f7f7 50%, #4bbc2e 50%);
                    transition: background-position 1s;
                    &:hover{
                        background-position: 0 -100%;
                        color: white;
                    }
                    a{
                        display: block;
                        padding: 20px 10px;
                        text-decoration: none;
                        color: black;
                        text-transform: uppercase;
                        font-family: 'BenchNine', sans-serif;
                        //font-family: 'Larke Neue' sans-serif;
                        font-size: 22px;
                        text-align: center;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            a#facebook{
                margin-top: 6%;
                float: left;
                img {
                    width: 40px;
                }
            }
            span {
                margin-top: 7%;
                margin-left: 3%;
            }
        }
        
    }
}


div.side-menu {
    margin-top: 3%;
    h2 {
        font-size: 17px;
        padding: 10px 0 10px 15px;
        text-transform: uppercase;
        color: #909090;
        border-top: 1px solid #ededed;
        border-left: 1px solid #ededed;
        border-right: 1px solid #ededed;
        margin: 0;
        font-weight: bold;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li{
            border: 1px solid #ededed;
            
            cursor: pointer;
            &:hover {
                background-color: #4791f0;
                
            }
            a {
                display: block;
                padding: 5% 0 5% 5%;
                color: #909090;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 13px;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

li.widget{
    list-style-type: none;
    margin-bottom: 4%;
}

.sub-menu{
    display: none;
}

section#main{
    padding-top: 3%;
    position: relative;
    select{
        position: absolute;
        top: 15%;
        left: 40%;
        padding: 1% 5%;
        border-radius: 5px;
        font-size: 30px;
        font-family: 'BenchNine', sans-serif;
        outline: 0;
    }
    img {
        width: 100%;
    }
}

section#infos{
    //font-family: 'BenchNine', sans-serif;
    
    img {
        width: 40%;
        display: block;
        margin: auto;
    }
    h3 {
        font-size: 30px;
        text-align: center;
        font-family: 'Larke Neue' sans-serif;
    }
    p{
        font-size: 16px;
        font-family: 'PostScriptum';
    }
}

footer {
    padding: 2% 0;
    p{
        font-size: 20px;
        font-family: 'BenchNine', sans-serif;
        float: right;
        margin-right: 3%;
    }
}